<html>
  <head>
    <title>CouchDB - NodeJS</title>
  </head>
  <style>
    body {
      text-align: center;
    }
    h3 {
      font-size: 45px;
    }

  </style>

  <body>
    <h3>Welcome</h3>
    <h3>Add Coffee:</h3>
    
  </body>
</html>
